<h2>Data Stores</h2>
<div class="row">
    <div class="col-lg-6" ng-repeat="(tablename, table) in tables">
        <h3><b>{{ tablename }}</b> ({{table.record_count}} records)</h3>
        <div class="indent">
            <div class="section-header">FIELD NAMES</div>
            <div class="indent">
                <div ng-repeat="field in table.field_names">
                    <span class="text-info">{{ field }}</span>
                </div>
            </div>
            <div class="section-header">INDEXES</div>
            <div class="indent">
                <div ng-repeat="index in table.indexes">
                    <span class="text-info">{{ index.name }}</span> ({{ index.type }}, {{ index.keys_count }} keys)
                </div>
            </div>
            <div class="section-header">LINKS</div>
            <div class="indent">
                <div class="row">
                    <div class="col-lg-4"><b>LOG DATA</b></div>
                    <div class="col-lg-8"><a ng-href="{{table.data_link}}">/api/tables/{{tablename}}/data</a></div>
                </div>
                <div ng-repeat="var in table.variables" class="row">
                    <div class="col-lg-4"><b>VAR</b> <span class="text-warning">{{var.name}}</span></div>
                    <div class="col-lg-8"><a ng-href="{{var.link}}">/api/tables/{{tablename}}/variables/{{var.name}}</a></div>
                </div>
            </div>
        </div>

    </div>
</div>