.main {
    margin-top: 56px;
}

.section-header {
    font-weight: bold;
    margin: 16px 0;
}

.indent {
    margin-left: 8px;
}

.collector-overview h4 {
    font-weight: bold;
}

.navbar {
    height: 64px;
}

.navbar-brand {
    padding : 0 20px 0 0;
    height: 64px;
}

.navbar-nav>li>a {
    padding-top: 21px;
    padding-bottom: 21px;
}
